*,
*::after,
*::before {
  box-sizing: border-box;
}

.card>p{
  align-items: center;

}

.card>h4{
  align-items: center;
  margin-top: 10px;
  position: absolute;
}

.img{
  border-radius: 15%;
  margin-top: -90%;
  align-items: center;
  box-shadow: inset 0 0 32px #1466ff, 0 0 32px #1466ff;
}

.info{
  position: absolute;
  margin-top: 50%;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
}

body {
  min-height: 100vh;
  background-color: #202631;
  color: #306864;
  font-family: "Itim", coursive;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.neon-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 34px;
  color: #1466ff;
  border: 8px solid #1466ff;
  padding: 16px 64px;
  border-radius: 16px;
  margin-top: 5%;
  text-shadow: 0 0 8px rgb(0, 81, 255), 0 0 29px #1466ff;

  box-shadow: inset 0 0 32px #1466ff, 0 0 32px #1466ff;

  position: relative;
}

.neon-btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1466ff;
  left: 0;
  top: 120%;
  transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
  filter: blur(64px);
  opacity: 0.7;
}

.neon-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1466ff;
  box-shadow: 0 0 128px 32px #1466ff;
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.neon-btn:hover::after,
.neon-btn:focus::after {
  opacity: 1;
}

.neon-btn:hover::before,
.neon-btn:focus::before {
  opacity: 1;
}

.neon-btn:hover,
.neon-btn:focus {
  color: #202631;
  text-shadow: none;
}



@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}